@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}
.close {
  display: none;
}
.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
}

.home ul li {
  width: 14px;
  list-style: none;
  display: flex;
  gap: 15px;
  padding-top: 14px;
  font-weight: bold;
}

.invert {
  filter: invert(1);
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
}
.right {
  margin: 16px 0;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}
.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}
.spotifyPlaylists h1 {
  padding: 16px;
}

.cardContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
  overflow-y: auto;
  max-height: 70vh;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}
.play {
  width: 28px;
  height: 28px;
  background-color: #00ff00;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 168px;
  right: 17px;
}

button > * {
  margin: 0 60px;
}

.signupbtn {
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  color: rgb(82, 82, 82);
  border: none;
  font-weight: bold;
  outline: none;
  font-size: 16px;
}
.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
}
.loginbtn:hover {
  font-weight: bold;
  font-size: 17px;
}

.playbar {
  position: fixed;
  bottom: 0px;
  filter: invert(1);
  background-color: #dad5d5;
  width: 70vw;
  padding: 12px;
  border-radius: 30px;
  min-height: 40px;
  bottom: 13px;
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hamburger {
  display: none;
}
.songList ul {
  padding: 0 12px;
}
.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
  font-size: 12px;
}

.songList {
  margin-bottom: 44px;
  height: 544px;
  overflow: auto;
}
.songList img {
  color: white;
}
.songList .info {
  width: 344px;
}
.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playnow span {
  font-size: 13px;
  padding: 4px;
  font-size: 10px;
  width: 45px;
}
.seekbar {
  height: 2px;
  width: 98%;
  border: 2px solid black;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  cursor: pointer;
}
.circle {
  width: 13px;
  height: 13px;
  background-color: black;
  border-radius: 13px;
  bottom: 6px;
  position: relative;
  left: 0%;
  transition: left 0.5s;
}
.songbuttons img {
  cursor: pointer;
}

.songinfo,
.songtime {
  color: black;
  padding: 0 12px;
}
.abovebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* @media */

@media (max-width: 1400px) {
  .left {
    background-color: black;
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    width: 373px;
  }
  .left .close {
    position: absolute;
    top: 25px;
    right: 31px;
  }
  .right {
    width: 100vw;
    margin: 0;
  }
  .playbar {
    width: calc(100vw - 75px);
    font-size: 10px;
  }

  .abovebar {
    gap: 23px;
    align-items: center;
    flex-direction: column;
  }

  .seekbar {
    width: calc(100vw - 60px);
  }

  .hamburger {
    display: block;
  }
  .card {
    width: 90vw;
  }
  .cardContainer {
    margin: 0;
    justify-content: center;
  }
  .close {
    display: block;
  }
}
